---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jonathan & María">
  <h1 style="margin-top: 100px; font-size: 3rem;">
    Jonathan & María
  </h1>

  <p style="font-size: 1.3rem;">
    17 de Octubre de 2026
  </p>
</Layout>