---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">

    <style>
      body {
        margin: 0;
        font-family: 'Playfair Display', serif;
        background-color: #f5f1e8;
        color: #2e2e2e;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>